.concept {
  background: linear-gradient(#a193861f 0% 42%, #a1938689 42% 100%);
  @include sp {
    background: linear-gradient(#a193861f 0% 25%, #a1938689 25% 100%);
  }
}

.img {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

.img-left {
  width: 63%;
  background-image: url(../img/left.png);
  background-size: cover;
  background-position: 100% 100%;
  @include sp {
    width: 49%;
    height: 205px;
  }
}

.img-right {
  width: 35%;
  background-image: url(../img/right.png);
  background-size: cover;
  background-position: 100% 100%;
  @include sp {
    width: 49%;
    height: 205px;
  }
}

.text {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 65px;
  @include sp {
    flex-direction: column;
    padding: 0;
    line-height: 23px;
  }
}

.text-a {
  width: 42%;
  text-align: left;
  font: normal normal normal 40px/68px Hiragino Mincho Pro;
  letter-spacing: 16px;
  color: #ffffff;
  @include sp {
    width: 100%;
    text-align: center;
    font: normal normal normal 18px/31px Hiragino Mincho Pro;
    letter-spacing: 7.2px;
    color: #ffffff;
    opacity: 1;
    font-size: 18px;
    margin-bottom: 18px;
  }
}

.text-b {
  width: 39%;
  font-size: 16px;
  text-align: left;
  font: normal normal normal 16px/27px Hiragino Kaku Gothic Pro;
  letter-spacing: 1.6px;
  color: #ffffff;
  @include sp {
    width: 100%;
  }
}
