.menu-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include sp {
    flex-direction: column;
  }
}

.menu-box {
  width: 25%;
  text-align: center;
  position: relative;
  @include sp {
    width: 100%;
  }
}

.img-menu {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  @include sp {
  }
}

.menu-text {
  padding: 0 10px 13px;
  line-height: 20px;
}

.menu-a {
  font-size: 30px;
  font-family: Roboto Mono for Powerline;
  margin: 30px 0;
}

.menu-b {
  margin-bottom: 30px;
  text-align: left;
  font: normal normal normal 16px/19px Roboto Mono for Powerline;
  letter-spacing: 1.6px;
  color: #000000;
}

.price {
  position: absolute;
  right: 0;
  @include sp {
    margin-bottom: 50px;
  }
}
